
#navbar {
  top: 0px;

  position: fixed;
  z-index: 999;
  padding-top: 70px;
  padding-left: 0px;
}

.burger {
  width: 30px;
  display: block !important;
  margin: 0em 0 0 0em;

  &__slash {
    height: 1px;
    background-color: #4c4c4c;
    margin: 7px;
    transition: 0.3s;

    &--one {
      width: 30px;
    }

    &--two {
      width: 20px;
    }

    &--three {
      width: 25px;
    }
  }

  &--active,
  &:hover {
    .burger__slash--one {
      opacity: 0;
    }

    .burger__slash--two {
      width: 30px;
    }

    .burger__slash--three {
      opacity: 0;
    }
  }
}


.menubar {
  position: absolute;
  z-index: 1;
  background: white;

  ul {
    padding: 2px 8px;
  }

  li {
    list-style-type: none;
    padding: 2px;

    a {
      display: flex;
      justify-content: space-between;
      font-family: "Cera GR", serif;
      font-size: 13px;
      color: #ADADAD;

      &:hover {
        color: #5A5A5A;
      }
    }

    &.current-menu-item a {
      color: #5A5A5A;
    }
  }

  &__wrapper {
    color: #4c4c4c;
    padding: 0px 25px;
    display: block;
  }

  .menu-item-has-children {
    > a:after {
      content: "+";
      margin-left: 5px;
      font-weight: 900;
    }

    &--no-add > a:after {
      content: none;
    }

    > ul {
      max-height: 0px;
      overflow: hidden;
    }

  }

}
